.block {
    height: 100px;
    width: 100px;
    background-color: #FF9933;
    border-radius: 9px;
    transition: background-color .3s, width 1s;
    margin-bottom: 20px;
}

.block:hover {
    width: 900px;
    background-color: #16A085;
}

.block:after {
    padding: 10px;
    content: "sdfsdf";
}

.box {
    border: 2px solid crimson;
    transition: 2s;
}


.box:focus {
    background-color: #16A085;
}