body {
    background-image: url("../img/background@1X.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.black-container {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.6);
}

.container {
    margin: 0 150px 0 157px;

}

/* Header */
header {
    padding-top: 49px;
    height: 44px;
}
.header-left-side {
    float: left;
}

.header-email {
    margin-bottom: 5px;
    font-size: 18px;
    font-family:  Verdana, sans-serif;
}

.header-tel {
    text-align: right;
    font-size: 18px;
    font-family:  Verdana, sans-serif;
}

.header-right-side {
    float: right;
}

.header-link {
    font-family:Verdana, sans-serif;
    text-decoration: none;
    font-weight: bold;
}

.header-left-side .text-logo p {
    font-size: 29px;
    line-height: 23px;
}

.header-left-side .text-logo p span{
    font-size: 18px;
}

.logo {
    display: inline-block;
    float: left;
    margin-right: 15px;
}

.text-logo {
    display: inline-block;
    float: right;
}

.header-text {
    margin-top: 0;
    color: #fff;
}

/* Main */

/* Footer */