.container {
    margin: 0 auto;
    width: 1900px;
}

/* Header*/
.header-flex-container {
    display: flex;
    height: 70px;
    background-color: #1d2124;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: space-around;
}

.logo .a {
    padding: 15px;
}

.nav-bar {
    display: flex;
}