.container {
    background: url("../img/rana-sawalha-364253-unsplash@1X.png") no-repeat;
    background-size: cover;

    width: 100%;
    height: 100vh;

    font-family: Verdana, sans-serif;
}

p {
    font-family: Verdana, sans-serif;
}

/* Header */

header {
    background-color: rgba(0,0,0,.4);
}

.logo {
    display: inline-block;
    margin: 22px auto 19px 81px;
}

.nav-bar {
    float: right;
    margin-right: 93px;
    margin-top: 8px;
}

/* Will be chang */
/*.nav-icon p {*/
/*    color: white;*/
/*}*/
/* Look up */

.nav-icon p {
    margin: 0;
    width: 150px;

    display: flex;
    justify-content: space-between;
}

.nav-icon {
    display: inline-block;
    padding-right: 25px;
    border-right: 1px solid #302f2e;
}

.nav-text {
    display: inline-block;
    margin-left: 19px;
}

.nav-text p span {
    color: #3cb878;
}

.logo a {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.text-in-header {
    font-size: 14px;
    color: white;
}

/* Main */
main {
    margin: 5vh auto;
    width: 444px;
    height: 600px;
    background-color: #fff;
    border-radius: 10px;
}

.login-form {
    padding: 25px 59px 32px 62px;
}

.header-login-form {
    margin: 0 0 15px 0;
    font-size: 20px;
    color: rgba(67, 67, 67, 255);
    font-family: Verdana, sans-serif;
}

.header-login-form:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;

    left: 537px;
    top: 126px;
}

.header-login-form span {
    padding-left: 190px;
    font-size: 14px;
    color: #3cb878;
}

.social-media-button {

}

.facebook-button {
    display: inline-block;

    width: 157px;
    height: 33px;
    background-color: #305db8;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    padding-top: 13px;
    text-align: center;

    margin-bottom: 37px;
}

.google-button {
    display: inline-block;

    width: 157px;
    height: 33px;
    background-color: #df4a32;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    font-weight: lighter;
    font-family: Verdana, sans-serif;
    padding-top: 13px;
    text-align: center;

    margin-bottom: 37px;
}

hr {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    background-color: #eaeaea;
    margin-bottom: 21px;
}

.or-line {
    color: rgba(132, 132, 132, 255);
    font-size: 14px;
    background-color: white;
    width: 50px;
    text-align: center;

    position: absolute;
    left: 48%;
    top: 230px;
}

input {
    padding: 15px;
    font-size: 14px;
    width: 283px;
    color: #FF9933;

    border: 1px solid #eaeaea;
    margin-bottom: 9px;
    border-radius: 3px;
}

input::placeholder {
    color: #bebebe;
}

.checkbox {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 28px;
    padding: 0;
    color: rgba(67, 67, 67, 255);

}

.checkbox span {
    color: #3cb878;
}

.create-acc-button {
    width: 312px;
    height: 46px;
    padding: 17px auto 17px auto;
    border: 1px solid #3cb878;
    color: white;
    border-radius: 3px;
    font-size: 16px;
    background-color: #3cb878;
}

/* Pseudo */
.pseudo:focus {
    box-shadow: -10px 12px 12px -10px rgba(0,0,0,0.25);
    outline: none;
}

/* Sprites */
.sprite {
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-G__1X {
    width: 25px;
    height: 16px;
    background-position: -5px -5px;
}

.sprite-facebook1_1X {
    width: 10px;
    height: 20px;
    background-position: -40px -5px;
}

.sprite-ic_caledar_1X {
    width: 19px;
    height: 19px;
    background-position: -5px -35px;
}

.sprite-ic_forum_1X {
    width: 28px;
    height: 20px;
    background-position: -34px -35px;
}

.sprite-ic_journey_1X {
    width: 20px;
    height: 20px;
    background-position: -60px -5px;
}
