body {

}

.container {
    width: 100%;
    height: 100vh;

    background: url("https://i.ytimg.com/vi/cZZMF7WYQ98/maxresdefault.jpg") no-repeat;
    background-size: cover;
    /*position: relative;*/
}

.container header {
    background-color: black;
    height: 56px;
    opacity: 0.41;
}

.container main {
    height: 400px;
    width: 300px;
    background-color: #FF9933;
    margin: 0 auto;
}