div {
    margin: 2px;
    border: 10px black;
}

.first {
    width: 30px;
    height: 30px;
    background-color: red;
    float: left;
    clear: left;
}

.second {
    width: 30px;
    height: 30px;
    background-color: green;
    float: left;
    clear: left;
}

.third {
    width: 30px;
    height: 30px;
    background-color: blue;
    float: left;
    clear: left;
}

.fourth {
    width: 30px;
    height: 30px;
    background-color: yellow;
    float: left;
    clear: left;
}