body {
    margin: 0;
    padding: 0;
}

.parallax {
    background-image: url("https://images.golos.io/DQmbuFzS9F4DqnMn2wYgYA46nEvZA6TytmM5jMKHt6X2xhe/art.jpg");
    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.next-pic {
    background-image: url("http://razom.sumy.ua/wp-content/uploads/2019/03/after-10-12-art-design-college.jpg");
    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}