body {
    font-family: Verdana, sans-serif;
    margin: 0;
}

.blue-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #16A085;
    height: 300px;
    flex-direction: column;
}

.text1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.text2 {
    font-size: 14px;
}

.text {
    display: block;
    color: white;
    font-family: Verdana, sans-serif;
}

.dark-header {
    background-color: black;
    color: white;
}

.dark-header ul {
    padding: 5px 10px;
    display: flex;
    margin: 0;
}

ul li {
    text-transform: capitalize;
    margin-right: 20px;
    list-style-type: none;
}