body {
    background-color: #495863;
    color: #fff;
    font-family: Verdana, sans-serif;
}

.test-mouse {
    border: 2px solid orangered;
    margin: 0 auto;
    padding: 10px;
    width: 200px;
}

.test-mouse::first-letter {
    color: red;
}

.test-mouse:hover {
    cursor: pointer;
    background-color: orangered;
}

.some-list > li:nth-child(2n) {
    background-color: #FF9933;
    color: #495863;
}