.container {
    margin: 0 auto;
    width: 1280px;
    font-family: 'Roboto', sans-serif;
}
/* Header */
header {
    line-height: 60px;
    height: 64px;
}

ul {
    margin: 0;
    text-align: center;
}

li {
    display: inline-block;
    margin-left: 75px;
}

a {
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    color: #16A085;
    font-size: 18px;
    font-weight: 600;
}

/* Main */
main {
    background-color: #F5F6F7;
}

article {
    margin: 0 auto;
    width: 1100px;
}

h2, .main-p {
    color: #373737;
    text-align: center;
    letter-spacing: 2px;
}

h2 {
    font-size: 22px;
}

.main-p {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
}

.button-div {
    margin: 48px auto 84px auto;

    border-radius: 2px;
    background-color: #16A085;
    width: 193px;
    height: 52px;
}

.button-link {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;

    display: block;
    text-align: center;
    line-height: 50px;
}

.dot {
    color: #F5F6F7;
}

/* Footer */
.footer-p {
    height: 100px;
    line-height: 80px;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-right: 100px;
}