

* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
}

.container-of-border {
    margin: 100px auto 0;
    width: 30%;
    height: 300px;
}

.left-side, .right-side {
    display: inline-block;
}

.left-side {
    width: 30%;
    background-color: red;
    height: 300px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.right-side {
    background-color: silver;
    width: 65%;
    height: 300px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.container-of-border::after {
    content: "";
    width: 15px;
    height: 60px;
    background-color: silver;
    display: block;
    margin-top: 25%;
    float: right;
    border-radius: 3px;
}