.img {
    height: 300px;
    width: 300px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
}

.wrapper {
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px;
}

footer {
    margin: 100px 0;
}