/*html, body {*/
/*    height: 100%;*/
/*    font-family: Verdana, sans-serif;*/
/*}*/

/*.container {*/
/*    width: 1200px;*/
/*    margin: 0 auto;*/
/*    height: 100%;*/
/*    background-color: #FF9933;*/
/*}*/

/*.header-nav {*/
/*    text-align: center;*/
/*    padding: 10px 0;*/
/*}*/

/*.header-nav a {*/
/*    text-transform: uppercase;*/
/*}*/

/*ul {*/
/*    margin-top: 0;*/
/*}*/

/*p {*/
/*    width: 100px;*/
/*}*/




body {
    font-family: Verdana;
    font-size: 14px;
}

#wrapper header {
    color: white;
    background-color: blue;
    border: 10px solid darkblue;
    width: 400px;
    padding: 15px;
}

#wrapper main {
    background-color: yellow;
    border: 30px solid yellowgreen;
    width: 300px;
    padding: 15px;
    margin: 5px;
}

#wrapper footer {
    color: white;
    background-color: blue;
    border: 10px solid darkblue;
    width: 400px;
    padding: 15px;
}

.kuka {
    display: inline;
    border-bottom: 1px solid black;
}

.rikuka {
    text-decoration: underline;
}






