.field {
    display: flex;
    background-color: darkgreen;
    height: 350px;
    width: 540px;
}

.field-wrapper{
    display: flex;
    border: 1px solid black;
}

.leftGuard, .rightGuard {
    width: 20px;
    align-items: center;
}

.leftGuard .guard {
    background-color: #1d2124;
    height: 100px;
    width: 20px;
}
