.container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr repeat(2, 2fr) 1fr;
}

.container > div {
    border: 1px solid black;
}

.first-item {
    grid-area: 1/1/2/4;
}

.third-item {
    grid-area: 2/1/3/3;
}

.four-item {
    grid-area: 2/3/3/5;
}

.five-item {
    grid-area: 3/1/4/3;
}

.six-item {
    grid-area: 3/3/4/5;
}

.eight-item {
    grid-area: 4/2/5/5;
}