body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

.main-header-container {
    background: url("../img/section-1(header).jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 1012px;
}

/* Header */
ul {
    display: flex;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.logo {
    display: flex;
}

.logo p {
    margin-left: 8px;
    margin-top: 20px;
    font-size: 25px;

    color: #fff;
}

.logo p span {
    color: #18CFAB;
    font-weight: bold;
}

.header-darkFilter {
    background-color: #000000;
    opacity: 0.6;


    padding: 42px 0 38px 0;
}

header {
    /*background-color: #000;*/
    /*opacity: 0.5;*/
}

.header-container {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-container a {
    color: #B8B8B8;
    font-size: 13px;
    font-weight: bold;

    padding: 0 17px;
}

.header-container a:hover {
    color: #18cfab;
    border-bottom: 2px solid #18cfab;
    padding-bottom: 67px;
}

nav {
    margin-top: 20px;
}

/* Second Head */
.second-head {
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.head-p {
    color: #fff;
    text-align: center;
}

.first-p {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.first-p span {
    color: #18cfab;
}

.second-p {
    font-size: 79px;
    font-weight: bold;
    margin-bottom: 20px;
}

.third-p {
    font-size: 30px;
    font-weight: lighter;
    opacity: 0.7;
}

.button-space {
    display: flex;
    justify-content: center;

    padding: 150px 100px 0 100px;
    width: 500px;
    /*border: 2px solid red;*/
}

.btn-in-head {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    width: 166px;
    height: 61px;
    /*border: 1px solid white;*/
}

.btn-in-head:hover {
    cursor: pointer;
    background-color: #1CFFD3;
}

.btn-purchaseNow:hover {
    background-color: #00E4FF;
}

.btn-exploreNow {
    background-color: #18cfab;
}

.btn-purchaseNow {
    background-color: #00cbf6;

    margin-left: 28px;
}

/* Panels Container */
.panels-container {
    display: flex;
}

.panel {
    width: 480px;
    height: 374px;
}

.inner-line {
    height: 7px;
    background-color: #18cfab;
}

.line-two, .line-four {
    background-color: #fff;
}

.first-panel, .third-panel {
    background-color: #1c2a33;
}

.second-panel, .fourth-panel {
    background-color: #18cfab;
}

.panel-content {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 98%;
}

.img-panel-container {
    display: flex;
    justify-content: center;
}

.our-panel-content p{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-top: 48px;
}

.panel-paragraph-green {
    color: #18cfab;
}

.panel-paragraph-white {
    color: #fff;
}


/* ourServices-main-container */
.ourServices-main-container {
    /*width: 1920px;*/
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ourServices-flex-container {
    width: 1158px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ourServices-flex-container > p {
    margin-bottom: 37px;

    font-size: 36px;
    color: rgba(78, 78, 78, 255);
    text-align: center;
}

.ourServices-flex-container hr {
    border: 1px solid #18cfab;
    margin-bottom: 3px;
    width: 76px;
    text-align: center;
}

.second-hr {
    margin-left: 18px;
}

.ourServices-nav li {
    margin: 70px 0 24px 0;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 193px;
    height: 73px;
    border: 1px solid #eeeeef;
    background-color: #f8fcfe;
    color: rgba(119, 119, 119, 255);
}

.ourServices-nav li:hover {
    background-color: #18cfab;
    border: 1px solid #18cfab;
    color: #fff;
    cursor: pointer;
}

.ourServices-content {
    display: flex;
}

.ourServices-content img {
    margin-right: 20px;
}

.ourServices-content p {
    text-align: justify;
    font-size: 16px;
    color: rgba(119, 119, 119, 255);
    /*line-height: 25px;*/
}

/* everyThinkIsReady-container */
.darkFilter-everythingIsReady {
    background-color: black;
    height: 476px;
    opacity: 0.8;

    display: flex;
    justify-content: center;
    align-items: center;
}

.everythingIsReady-container {
    height: 475px;
    background-size: cover;
    background: url("../img/Everything is ready/Layer 2@1X.png") no-repeat center;
}

.everythingIsReady-content-firstP {
    font-size: 40px;
    color: rgba(24, 207, 171, 255);
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.everythingIsReady-content-secondP {
    margin-top: 35px;

    color: rgba(216, 216, 216, 255);
    text-align: center;
}

.btn-everyThinkIsReady-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-everyThinkIsReady {
    margin-top: 76px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 165px;
    height: 61px;
    background-color: #18cfab;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
    color: #fff;
}

.btn-everyThinkIsReady:hover {
    background-color: #1DFFD2;
    cursor: pointer;
}

/* ourAmazingWork-container */
.ourAmazingWork-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 1212px;
    background-color: #f8fcfe;
    border-bottom: 3px solid #e1e1e1;
}

.ourAmazingWork-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ourAmazingWork-content p {
    font-size: 36px;
    color: rgba(78, 78, 78, 255);
    text-align: center;

    margin-bottom: 26px;
}

.ourAmazingWork-content hr {
    border: 1px solid #18cfab;
    margin-bottom: 3px;
    width: 76px;
    text-align: center;
}

.ourAmazingWork-second-hr {
    margin-left: 18px;
}

.ourAmazingWork-nav {
    margin-bottom: 50px;
}

.ourAmazingWork-nav li {
    margin: 70px 0 24px 0;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 58px;
    border: 1px solid #eeeeef;
    background-color: #f8fcfe;
    color: rgba(119, 119, 119, 255);
    font-size: 14px;
}

.ourAmazingWork-nav li:hover {
    cursor: pointer;
    color: #18cfab;
    border-top: 2px solid #18cfab;
}

.ourAmazingWork-second-box-of-images,
.ourAmazingWork-third-box-of-images,
.ourAmazingWork-first-box-of-images {
    display: flex;
}

.ourAmazingWork-img {
    background-size: cover;
    width: 284px;
    height: 206px;
}

.img1 {
    background: url("../img/Our Amazing Work/1.png") no-repeat center;
}

.img2 {
    background: url("../img/Our Amazing Work/2.png") no-repeat center;
}

.img3 {
    background: url("../img/Our Amazing Work/3.png") no-repeat center;
}

.img4 {
    background: url("../img/Our Amazing Work/4.png") no-repeat center;
}

.img5 {
    background: url("../img/Our Amazing Work/5.png") no-repeat center;
}

.img6 {
    background: url("../img/Our Amazing Work/6.png") no-repeat center;
}

.img7 {
    background: url("../img/Our Amazing Work/7.png") no-repeat center;
}

.img8 {
    background: url("../img/Our Amazing Work/8.png") no-repeat center;
}

.img9 {
    background: url("../img/Our Amazing Work/9.png") no-repeat center;
}

.img10 {
    background: url("../img/Our Amazing Work/10.png") no-repeat center;
}

.img11 {
    background: url("../img/Our Amazing Work/11.png") no-repeat center;
}

.img12 {
    background: url("../img/Our Amazing Work/12.png") no-repeat center;
}

.ourAmazingWork-btn {
    margin-top: 71px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 165px;
    height: 60px;
    background-color: #18cfab;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    border-radius: 3px;
}

.ourAmazingWork-btn:hover {
    cursor: pointer;
    background-color: #1CFFD3;
}

.plus {
    margin-right: 12px;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 108px;
    background-color: #22353f;

    margin-bottom: 11px ;
}

footer p {
    font-size: 14px;
    font-weight: lighter;
    color: rgba(174, 174, 174, 255);
}

.footer-span {
    color: #18cfab;
}