* {
    box-sizing: border-box;
}

.container {
    width: 1280px;
    margin: 0 auto;
    /*font-family: AdobeInvisFont, Courier, MyriadPro-Regular, serif;*/
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* header */
header {
    margin-bottom: 26px;
}

.logo {
    margin-bottom: 22px;
}

.logo a {
    font-size: 80px;
}
.logo a span {
    color: #4BCAFF;
}

.top-menu {
    background-color: #35444F;
    text-align: center;
}

.top-menu-li {
    display: inline-block;
    box-sizing: border-box;
    height: 70px;
    padding: 25px 48px;
    color: #FFFFFF;
    /*margin-left: 20px;*/
}

.top-menu-li:hover {
    background-color: #222F3A;
    /*border-right: 1px solid #818181;*/
    /*border-left: 1px solid #818181;*/
}

.top-menu-li a {
    color: #FFFFFF;
    font-size: 20px;
}

/* main */
aside, article {
    display: inline-block;
}

aside {
    float: left;
    margin-right: 27px;
}

.main-left-nav {
    border: 1px solid #35444F;
    width: 344px;
    /*height: 399px;*/
}

.main-left-nav ul {
    margin: 0;
}

.main-left-nav li {
    /*margin-left: 22px;*/
    padding: 20px;
    list-style-type: none;
}

.main-left-nav a:hover {
    color: black;
}
.main-left-nav li:hover {

    color: black;
    padding-left: 33px;
    background-color: #DBDBDB;
}

.main-left-nav a {
    margin-left: 22px;
    font-size: 20px;
    color: #495863;
}

.main-left-nav ul {
    padding: 0;
}

.right-info {
    width: 885px;
    height: 730px;
}

img {
    /*margin-top: 70px;*/

    transition: 0.5s;
}

img:hover {
    transform: scale(1.1);
}

.img {
    padding-top: 70px;
    box-sizing: border-box;
    border: 1px solid #35444F;
    width: 885px;
    height: 529px;
    text-align: center;
}

.bottom-section-img {
    margin: 50px 40px 0 30px;
}

.bottom-section-img p {
    font-size: 16px;
}



/* footer */
footer {
    background-color: #B4B7BA;
    margin: 26px 0px 15px;
}

.bottom-nav {
    margin-top: 50px;
}

.bottom-nav li {
    display: inline-block;
    margin-left: 10px;
}

.bottom-nav ul, .footer-copyright {
    display: inline-block;
}

.bottom-nav a:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.footer-copyright {
    float: right;
    margin-right: 17px;
}