.sprite {
    display: block;
    background: url('../img/spritesheet.png') no-repeat;
}


.first {
    height: 30px;
    width: 30px;
    background-position: -5px -5px;
}

.second {
    height: 30px;
    width: 30px;
    background-position: -45px -5px;
}

body {
    background-color: #FF9933;
    opacity: 0.1;
}