div {
    /*display: inline-block;*/
    width: 250px;
    height: 50px;
    background-color: darkgray;
    margin-bottom: 20px;
}
div:before {
    display: inline-block;
    content: "";
    background-image: url("http://simpleicon.com/wp-content/uploads/cute.png");
    background-color: gray;
    height: 50px;
    width: 50px;
}

/*.scale {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background-color: #FF9933;*/
/*    transition: 1s;*/
/*}*/

/*.scale:hover {*/
/*    transform: scale(3);*/
/*}*/