body {
    background-color: #3a4965;
    font-family: 'Arimo', sans-serif;
}

.container {
    margin: 0 auto;

    color: #484848;
    background-color: #fafafa;
    width: 1143px;
}

table {
    margin: 24px auto 24px auto;
    width: 1143px;
    border-collapse: collapse;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

td, th {
    height: 50px;
    /*border: 1px solid black;*/
    text-align: center;
}

/* Header */
.header-first-cell {
    width: 310px;
    height: 156px;
    /*background-color: #FF9933;*/
}

.header-first-cell-upper-text {
    font-size: 18px;
    text-transform: uppercase;
    /*color: #484848;*/
}

.header-first-cell-lower-text {
    font-size: 30px;
    text-transform: uppercase;
    /*color: #484848;*/
}

.header-color {
    color: white;
}

.green-background {
    background-color: #89c331;
    font-size: 24px;
}

.red-background {
    background-color: #f04a56;
    font-size: 30px;
}

.sapphire-background {
    background-color: #20807c;
    font-size: 24px;
}

/* Header dollar cell*/
.header-dollar-cell {
    display: inline-block;
    font-size: 60px;
    font-weight: bold;
}

.coop-cent-and-textDolar {
    display: inline-block;
}

.header-cent-cell {
    line-height: 35px;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

/* Header strings line color*/
.first-header-row {
    background-color: #fafafa;
}

.first-third-fifth-main-row {
    background-color: #f2f2f2;
}

.second-fourth-sixth-main-row {
    background-color: #e3e3e3;
}


/* Main */
.main-row {
    width: 310px;
    height: 69px;
}

.right-shadow {
    /*box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);*/

    border-left: 2px solid #dcdcdc;
    border-right: 2px solid #dcdcdc;
}

.none-right-border {
    border-right: none;
}

.main-new-right-shadow {
    border-right: 2px solid #dcdcdc;
}

/* Work with Icon*/
.icon {
    display: inline-block;
    margin-right: 7px
}

.icon i {
    font-size: 24px;
    color: #848484
}

/* Footer */
.footer-button {
    width: 192px;
    height: 49px;
    padding: 19px 57px 17px 58px;
    border: none;
    border-radius: 4px;
    color: white;
}

.gray-button {
    background-color: #484848;
    padding: 19px 44px 17px 45px;
    box-shadow: 0 5px 0 #404040;
    transition: .2s;
}

.gray-button:hover {
    background-color: #5a5a5a;

    margin-bottom: 10px;
    box-shadow: 3px 10px 5px #404040;
}

.green-button {
    background-color: #89c331;
    box-shadow: 0 5px 0 #79b027;
    transition: .2s;
}

.green-button:hover {
    background-color: #98d938;

    margin-bottom: 10px;
    box-shadow: 3px 10px 5px #79b027;
}

.red-button {
    background-color: #f04a56;
    box-shadow: 0 5px 0 #df3a46;

    transition: .2s;
}

.red-button:hover {
    background-color: #FF6464;

    margin-bottom: 10px;
    box-shadow: 3px 10px 5px #df3a46;
}

.sapphire-button {
    background-color: #20807c;
    box-shadow: 0 5px 0 #16736f;

    transition: .2s;
}

.sapphire-button:hover {
    background-color: #1ba5a8;

    margin-bottom: 10px;
    box-shadow: 3px 10px 5px #16736f;
}


.footer-cell {
    height: 110px;
}

.footer-color {
    background-color: #dddddd;
}

.footer-new-color {
    background-color: #eeeeee;
}

.footer-supper-new-color {
    background-color: #f4f4f4;
}