.container {
    border: 1px solid black;
    margin: 0 auto;
    width: 900px;
}

header, main, footer, aside, section {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

aside {
    background-color: #16A085;
}

section {
    background-color: #FF9933;
}

.left-aside {
    /*float: left;*/
    width: 30%;

}