body {
    font-family: Arial, serif;
}

/*header {*/
/*    font-weight: 600;*/
/*}*/

/*h1 {*/
/*    margin-bottom: 2px;*/
/*}*/

/*h3{*/
/*    margin-top: 1px;*/
/*    color: gray;*/
/*    font-style: italic;*/
/*}*/

div {
    border: 1px solid black;
    padding: 50px 80px;
    /*width: 200px;*/
    text-align: justify;
    background-color: lightblue;
    margin: 20px 10px 5px;

}
