.flex-container {
    box-sizing: border-box;
    height: 100vh;
    align-items: center;

    display: flex;
    border: 1px dashed black;
    justify-content: center;
}

.box {
    /* Поставить элемент по центру контейнера */
    display: flex;
    align-items: center;
    justify-content: center;
    /*----------------------------------------*/

    width: 100px;
    height: 50px;
    margin: 0 5px;
}

.box-1 {
    flex-grow: 1;
    width: 50px;
    background: #ff0000;
}

.box-2 {
    flex-grow: 2;
    width: 70px;
    background: #da2cab;
}

.box-3 {
    flex-grow: 3;
    width: 90px;
    background: #008000;
}

.box-4 {
    flex-grow: 4;
    background: #0000ff;
}

.box-5 {
    flex-grow: 5;
    width: 110px;
    background-color: #FF9933;
}







