.qwer input {
    border: 1px solid crimson;
    border-radius: 3px;
    background-color: white;
    color: black;
    padding: 5px;
    width: 200px;
}

.select {
    border-radius: 3px;
    border: 1px solid black;
    padding: 5px;
    width: 100px;
}

.text {
    border: 1px solid blueviolet;
    border-radius: 4px;
    padding: 5px;
}